body, html {
  padding: 0;
  outline: 0;
  margin: 0;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 7vh;
  text-align: center;
}

form {
  width: 60%;
  margin: 0 20% 0 20%;
  border: 1px soldi black;
}

form br {
  width: 30%;
  margin-left: 20%;
}

form input {
  width: 80%;
  padding: 0 10% 0 10%;
  background-color: #F8F8F8;
  height: 7vh;
  outline: none;
  border: none;
  border-radius: 5px;
}

form button {
  width: 40%;
  margin: 3% 30% 0 30%;
  height: 7vh;
  background-color: #009CD3;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  padding: none;
  font-size: 30px;
  border-radius: 5px;
}
